<div>
    <ul>
        @{
            if(Chat != null && Chat.Messages != null)
                foreach(var m in Chat.Messages)
                {
                    <image src="@m.UserAvatarUrl"></image>
                    <li>
                        <label>@string.Concat(m.UserDisplayName, m.Text," ", m.RecievingTime.ToString())</label>
                    </li>
                }
        }
    </ul>
</div>

@code {
    [Parameter]
    public Chat? Chat { get; set; }
}
