
 <div class="card-footer text-muted d-flex justify-content-start align-items-center align-bottom p-3">
    <div class="input-group mb-0">
        <input type="text" class="form-control" placeholder="Type message"
        aria-label="Recipient's username" aria-describedby="button-addon2" />
        <button class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
        Send
        </button>
    </div>
</div>
@code {

}
