<div id="chat-history-container">
    <ul>
        @{
            /*foreach(var m in Message)
            {
                <li>
                    <label>@string.Concat(m.Text," ", m.RecievingTime.ToString())</label>
                </li>
            */}
        }
    </ul>
</div>

@code {
    //public IEnumerable<TextMessage> Message { get; set; }
}
