<div>
    <ul>
        @{
            if(Messages == null)
                foreach(var m in Messages)
                {
                    <image src="@m.UserAvatarUrl"></image>
                    <li>
                        <label>@string.Concat(m.UserDisplayName, m.Text," ", m.RecievingTime.ToString())</label>
                    </li>
                }
        }
    </ul>
</div>

@code {
    public IEnumerable<TextMessage>? Messages { get; set; }
}
