
<div>
    
    <div><ChatNavbar/></div>
    
    <div class="position-absolute top-50 bottom-50">
        <ChatHistoryField />
    </div>
    
    <div class="position-absolute bottom-0">
        <ChatMessageField />
    </div>
</div>

@code {

}
