@inject IJSRuntime _jsRuntime
@inject HttpClient _httpClient
@inject ServerApiCaller _apiCaller

<InputFile OnChange="UploadImageAsync">Upload Image</InputFile>
<span class="alert-danger">@_spanText</span>
<button class="btn-primary" @onclick="SendToServerAsync">Submit</button>

@code {
    private string _spanText = string.Empty;
    private List<IBrowserFile> _mediaFiles = new();

    protected override void OnInitialized()
    {
        //   User = _dbContext.Users.Where(x => x.Id == UserId).Single();
        // User.Medias = _dbContext.Media.Where(x => x.OwnerId == UserId).ToList();
    }
    public async Task UploadImageAsync(InputFileChangeEventArgs args)
    {
        _mediaFiles = new();
        
        
        if(args.FileCount > 1)
        {
            _mediaFiles = args.GetMultipleFiles().ToList();
            return;
        }

        _mediaFiles.Add(args.File);

        

    }

    public async Task SendToServerAsync()
    {
        var response = await _apiCaller.UploadMediaAsync(_mediaFiles);
        if (!response.IsSuccessStatusCode)
            _spanText = "Uploading error";
        else
            _spanText = "Success";
    }
}
