@inject IJSRuntime _jsRuntime
@inject HttpClient _httpClient
@inject ServerApiCaller _apiCaller


<div class="my-1">
    <InputFile OnChange="UploadImageAsync">Upload Image</InputFile>
</div>
    
<span class="alert-danger">@_spanText</span>
<button class="btn-primary my-1 bg-info" @onclick="SendToServerAsync">Submit</button>



@code {
    private string _spanText = string.Empty;
    private List<IBrowserFile> _mediaFiles = new();

    public  Task UploadImageAsync(InputFileChangeEventArgs args)
    {
        _mediaFiles = new();


        if(args.FileCount > 1)
        {
            _mediaFiles = args.GetMultipleFiles().ToList();
            return Task.CompletedTask;
        }

        _mediaFiles.Add(args.File);

        StateHasChanged();

        return Task.CompletedTask;

    }

    public async Task SendToServerAsync()
    {
        var response = await _apiCaller.UploadMediaAsync(_mediaFiles);
        if (!response.IsSuccessStatusCode)
            _spanText = "Uploading error";
        else
            _spanText = "Success";
        StateHasChanged();
    }
}
