
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#zoom-input-range {
    position: absolute;
    top: 125px;
    right: 22%;
    transform: rotate(-90deg);
    z-index: 1000000;
}

#mediaupload-container {
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
}

#medialist-container {
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
}
#media-list {
    overflow-y: scroll;
}
#board-render-canvas {
    
    background-color:black;
    overflow : scroll;
    
}

#play-container {
    z-index:1;
    position:fixed;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    top: 0;
    bottom:0;
    left:0;
    right:0;
}

#chat-container {
    z-index: 1;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns:100%;
    
}

#tab-container {
    display: flex;
    flex-flow: row;
}

#chat-history-container{
    background-color: beige;
    border:solid 1px gray;
    overflow-y:scroll;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 20px;
    position: relative;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f1f1f1;
}